# Ignorar archivos compilados y generados
*.class
*.jar
*.war
*.ear
target/

# Ignorar archivos de configuración de IDEs comunes
.idea/
.vscode/

# Ignorar archivos de dependencias y bibliotecas descargadas
lib/
libs/
vendor/

# Ignorar archivos de compilación
build/
out/

# Ignorar archivos de registro y respaldo
*.log
*.bak
*.swp
/1FundamentosJavaApache/Tarea1Java/nbproject/private/
/1FundamentosJavaApache/HolaMundoJava/dist/
/1FundamentosJavaApache/Aritmetica/nbproject/private/
